# build and temporary dev stuff
.venv/
target/
postgres_data/
*.sqlx/
__pycache__/
*.egg-info/
build/

# dotenv environment variable files
.env*

# finder (MacOS) folder config -- argh!
.DS_Store

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
