# python
.venv/
__pycache__/
*.egg-info/

# rust
target/
*.sqlx/

# secrets
.env*

# system
.DS_Store

# development shell
.devenv*
devenv.local.nix
!.envrc
.direnv
.pre-commit-config.yaml

# android
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.android/
