# build and temporary dev stuff
*.venv/
*target/
*postgres_data/
*.sqlx/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env.key

# finder (MacOS) folder config -- argh!
.DS_Store
